.transaction-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 0; /* or margin-top: 5px; */
    margin-bottom: 0;
}
.transaction:nth-child(odd) {
    background-color: #eaeaea;
}

.transaction-section-start {
    display: flex;
    flex-direction: row;
}
.transaction-section-end {
    display: flex;
    flex-direction: row;
    width: 240px;
    /* background-color: blue; */
}

.date {
    width: 120px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160px;
    /* background-color: yellow; */
}

.smaller-category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transactionInput {
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    font-size: 20px;
    border-bottom: 2px solid;
    border-color: #eaeaea;
    padding-bottom: 5px;
    width: 500px;

    &:hover {
        box-shadow: none;
        outline: none;
        border-bottom-color: #d6d6d6;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border-bottom-color: #116566;
    }
}
.smallTransactionInput::-webkit-input-placeholder {
    color: #eaeaea;
}
.smallTransactionInput {
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    font-size: 20px;
    border-bottom: 2px solid;
    border-color: #eaeaea;
    padding-bottom: 5px;
    width: 250px;
    padding-left: 25px;
    color: black;

    &:hover {
        box-shadow: none;
        outline: none;
        border-bottom-color: #d6d6d6;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border-bottom-color: #116566;
    }
}

.smallTransactionInputImage {
    position: absolute;
    height: 20px;
}

.datepicker-toggle {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.datepicker-toggle-button {
    height: 20px;
    z-index: 500;
}

.datepicker-input {
    position: absolute;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    font-size: 20px;
    border-bottom: 2px solid;
    border-color: #eaeaea;
    padding-bottom: 5px;
    width: 250px;
    padding-left: 25px;

    &:hover {
        box-shadow: none;
        outline: none;
        border-bottom-color: #d6d6d6;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border-bottom-color: #116566;
    }
    cursor: pointer;
    box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}



.form__group {
    position: relative;
}
  
.form__field {
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    font-size: 20px;
    border-bottom: 2px solid;
    border-color: #eaeaea;
    padding-bottom: 5px;
    width: 250px;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #eaeaea;
    outline: 0;
    font-size: 1.3rem;
    background: transparent;
    transition: border-color 0.2s;

    &:hover {
        box-shadow: none;
        outline: none;
        border-bottom-color: #d6d6d6;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border-bottom-color: #116566;
    }
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        bottom: 10px;
    }
}
.form__label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #eaeaea;
}
  
.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: -20px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: black;  
    }
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    padding: 4px 8px;
    font-size: 16px;
    /* background-color: #116566; */
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.radio-toolbar label:hover {
    background-color: #eaeaea;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #d6d6d6;
}
  